@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: Poppins;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: #326dee;
}

a {
  color: #1ac888;
}

.error {
  color: #d32752;
  border: 1px solid #d32752;
}

.info {
  color: #f6c31c;
  border: 1px solid #f6c31c;
}

.error,
.info,
button {
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
}

button {
  color: #fff;
  border: none;
  background: #326dee;
  cursor: pointer;
}