@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: Poppins;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 2px dotted #efefef;
}

img {
  max-width: 100%;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  background: #326dee;
}

.bg-primary-light-2 {
  background: #5b8af1;
}

.bg-primary-light-4 {
  background: #84a7f5;
}

.bg-primary-light-6 {
  background: #adc5f8;
}

.bg-primary-light-8 {
  background: #d6e2fc;
}

.bg-primary-dark-2 {
  background: #2857be;
}

.bg-primary-dark-4 {
  background: #1e418f;
}

.bg-primary-dark-6 {
  background: #142c5f;
}

.bg-primary-dark-8 {
  background: #0a1630;
}

.text-secondary {
  color: #1ac888;
}

.text-hover-secondary:hover {
  color: #1ac888;
}

.bg-secondary {
  background: #1ac888;
}

.bg-secondary-light-7 {
  background: #baefdb;
}

.text-error {
  color: #d32752;
}

.bg-error {
  background: #d32752;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background: #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background: #9900ff;
}

.text-hover-purple-dark-2:hover {
  color: #7a00cc;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background: #808080;
}

.bg-gray-light-7 {
  background: #d9d9d9;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.card {
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.425rem;
  -webkit-border-radius: 0.425rem;
  -moz-border-radius: 0.425rem;
  -ms-border-radius: 0.425rem;
  -o-border-radius: 0.425rem;
}
.card .card-title {
  padding-block-end: 0.75rem;
  font-weight: bold;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #e2e2e2;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.btn-primary {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #326dee;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  background: #4a7ef0;
}

.btn-complement-primary {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #326dee;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  color: #fae7bf;
}
.btn-complement-primary:hover {
  color: #326dee;
  background: #fae7bf;
}

.btn-secondary {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #1ac888;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.btn-secondary:hover {
  background: #1ddf97;
}

.btn-error {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #d32752;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.btn-error:hover {
  background: #da3961;
}

.btn-info {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #f6c31c;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.btn-info:hover {
  background: #f7c935;
}

.btn-green {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #19e635;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.btn-green:hover {
  background: #30e949;
}

.btn-outlined-green {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #fff;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  border: 2px solid #19e635;
}
.btn-outlined-green:hover {
  background: #19e635;
}

.btn-outlined-purple {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #fff;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  border: 2px solid #9900ff;
}
.btn-outlined-purple:hover {
  background: #9900ff;
}

.btn-complement-purple {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background: #9900ff;
  transition: all 200ms ease-in-out;
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  color: #c2ff99;
}
.btn-complement-purple:hover {
  color: #9900ff;
  background: #c2ff99;
}

.nav .container, .nav-green .container, .nav, .nav-green {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav, .nav-green {
  padding: 0.75rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.nav .site-title, .nav-green .site-title {
  font-size: 2rem;
}

.nav-green {
  background: #19e635;
}

.p-1 {
  padding: 0.75rem;
}

.py-2 {
  padding-block: 1.5rem;
}

.py-4 {
  padding-block: 4.5rem;
}

.my-2 {
  margin-block: 1.5rem;
}

.my-3 {
  margin-block: 3rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-90 {
  opacity: 0.9;
}

.rounded {
  border-radius: 0.85rem;
}

.rounded-none {
  border-radius: 0;
}

.rounded-xs {
  border-radius: 0.2125rem;
}

.rounded-sm {
  border-radius: 0.425rem;
}

.rounded-lg {
  border-radius: 1.7rem;
}

.rounded-full {
  border-radius: 50%;
}

.d-flex {
  display: flex;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-1 {
  gap: 0.625rem;
}

.gap-3 {
  gap: 1.875rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}