@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

body {
    font-family: Poppins;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}

h1 {
    color: $primary;
}

a {
    color: $secondary;
}

.error {
    color: $error;
    border: $base-border-width solid $error;
}

.info {
    color: $info;
    border: $base-border-width solid $info;
}

.error,
.info,
button {
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    -webkit-border-radius: $base-border-radius;
    -moz-border-radius: $base-border-radius;
    -ms-border-radius: $base-border-radius;
    -o-border-radius: $base-border-radius;
}

button {
    color: #fff;
    border: none;
    background: $primary;
    cursor: pointer;
}
